# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
# general
*~
*.log
tmp
dump
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.g8
*.db
.vscode

# Eclipse
.settings
.project
.classpath
.scala_dependencies
bin

# SBT
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID
conf/messages*

# Secret
/conf/*.conf
!/conf/application.conf
!/conf/production.conf

# IDEA
.idea
/conf/local_dev.conf
/conf/local_test.conf
**/*.iml
